<!DOCTYPE html>

<!-- Live TreeLine Export, HTML file -->

<html>

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="live_tree_export.css" />

    <title>TreeLine Export</title>
</head>

<body>
    <div id="tree">
        <ul id="rootlist"></ul>
    </div>

    <div id="output">
    </div>

    <script>
        var dataFilePath = "http://data.bellz.org/data";
        var dataFileName = "tst.trln";
        var inlineTextData = "";
    </script>
    <script src="live_tree_export.js"></script>
</body>

</html>
